<button>
    <svg [attr.width]="width" [attr.height]="height">
        <polygon class="x-what" [attr.points]="points" />
        <text x="50%" [attr.y]="textPositionY" dominant-baseline="middle" text-anchor="middle">
            <ng-content></ng-content>
        </text>
    </svg>
</button>
