$padding: 36px;

$width: 30vw;
$maxWidth: 400px;

cbox-task-list {
    position: absolute;
    top: $padding;
    left: $padding;

    width: $width;
    max-width: $maxWidth;

    z-index: 10;
}

cbox-task-details {
    position: absolute;
    top: $padding;
    right: $padding;

    width: $width;
    max-width: $maxWidth;

    z-index: 10;
}

cbox-status {
    position: absolute;
    bottom: $padding;
    right: $padding;
}
