@mixin text-glow {
    animation: glow 5s ease-in-out infinite alternate;
}

@keyframes glow {
    from { text-shadow: 0 0 5px #612574; }
    to { text-shadow: 0 0 10px #293583, 0 0 8px #1954ec; }
}
