$backgroundColor: #1f1f26;

$primaryColor: #d0d5df;
$hoverColor: #00ff00bb;
$highlightColor: #00ff00;
$highlightContrastColor: #000000;

$confirmColor: #00ff00;
$confirmContrastColor: #ffffff;

$dangerColor: #ff0000;
$dangerContrastColor: #ffffff;
