@import 'colors';
@import 'fonts';

* {
    font-family: "Exan", Arial, Helvetica, sans-serif;
}

html {
    font-size: 12px;
    color: $primaryColor;
}

body {
    background-color: black;
    font-size: 1.8rem;

    overflow: hidden;
}

h1 {
    font-size: 4rem;
    font-weight: normal;
    margin: 0;
    padding: 0;

    /*
     * Height locked due to unsupported characters in
     * the font makes the page jump due to being
     * taller than supported characters.
     */
    height: 4.8rem;

    span {
        opacity: .25;
        transition: all 150ms ease-in;
        cursor: pointer;

        &:hover {
            color: $hoverColor;
            opacity: 1;
        }
    }
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 1200px) { html { font-size: 11px; } } // Desktops, large screens
@media (max-width: 1024px) { html { font-size: 10px; } } // Small screens, laptops
@media (max-width: 768px) { html { font-size: 9px; } } // iPads, Tablets
@media (max-width: 480px) { html { font-size: 8px; } } // Mobile devices
