@import 'colors';
@import 'animations';

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    text-align: right;

    @include text-glow;
}

.emphasized {
    margin-top: 12px;
    font-size: 3rem;

    display: block;
}

cbox-button {
    &.download {
        margin-top: 3rem;
    }

    &.delete {
        margin-top: 2rem;
    }

    &.confirm {
        width: 5rem;
        margin-left: 1rem;
    }

    &.reject {
        width: 10rem;
    }
}

.delete-confirmation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 16rem;
    margin-top: 2rem;

    font-size: 2rem;
}
