<h1 class="ellipsis">{{ task.name }}</h1>
<span>{{ task.agents }} agents @ {{ task.speed | hashRate }}</span>

<span class="cracked">
    <span class="emphasized">{{ task.cracked.toLocaleString() }}</span>
    passwords cracked
</span>

<span class="progress">
    <span class="emphasized">{{ task.percentage }}%</span>
    completed
</span>

<cbox-button class="download" (click)="downloadPasswords()">Download</cbox-button>

<cbox-button class="delete" (click)="deleteTask()" *ngIf="!confirmDeletion">Delete</cbox-button>

<div class="delete-confirmation" *ngIf="confirmDeletion">
    <cbox-button class="reject danger" (click)="confirmDeleteTask(false)">Cancel</cbox-button>
    <cbox-button class="confirm" (click)="confirmDeleteTask(true)">Ok</cbox-button>
</div>
